* {
    background-color: white;
}


.container {
    border-radius: 15px;
    border: 5px solid orange;
    height: 900px;
    width: 450px;
    margin: auto;
    padding-top: 10px;
   padding-left: 50px;
   padding-right: 50px;
  /*  padding-right: 00px;*/
    align-items: center;

}

img {
    border-radius: 25px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
    align-items: start;
}

input {
    width: 350px;
    border-bottom: 2px solid orange;
    
}

/*.login-box .user-box {
    position: relative;
  }

  .login-box .container input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #2f002c;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #2f002c;
    outline: none;
    background: transparent;
  }

  .login-box .container label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #2f002c;
    pointer-events: none;
    transition: 0.5s;
  }
*/
.btn {
  color: white;
  background-color: orange;
  border: 2px solid orange;
  align-content: center;
  border: none;
}

.btn :hover {
    cursor: pointer;
    color: orange;
    background-color: red;
}

  a:link {
    color: orange;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: orangered;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}